<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Templates</title>
  </head>
  <body>
    <template>
      <style>
        p {
          color: white;
          background-color: gray;
          padding: 5px;
        }
      </style>
      <p>Foo</p>
    </template>
    <yw-custom-element></yw-custom-element>
    <script type="module" defer src="templates.example.js"></script>
  </body>
</html>
